/ane/
/backups/
/bin-debug/
/certificate-provision/
/dev-assets/
/libs/
/src/assets/theme/
/src/distriqtkey/
/widget/Spike.xcworkspace/xcuserdata/spike.xcuserdatad/
/Native Extension/SpikeANE/build scripts/local.properties
/Native\ Extension/SpikeANE/build\ scripts/local.properties
*.xcuserstate
.actionScriptProperties
.project
*.swc