/ane/
/backups/
/bin-debug/
/certificate-provision/
/dev-assets/
/libs/
/src/assets/theme/
/src/distriqtkey/
/widget/Spike.xcworkspace/xcuserdata/spike.xcuserdatad/UserInterfaceState.xcuserstate
.actionScriptProperties
.project