<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Spike.xcscheme</key>
		<dict>
			<key>isShown</key>
			<true/>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>fswidget.xcscheme</key>
		<dict>
			<key>isShown</key>
			<true/>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>watch (Notification).xcscheme</key>
		<dict>
			<key>isShown</key>
			<true/>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>watch.xcscheme</key>
		<dict>
			<key>isShown</key>
			<true/>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>widget.xcscheme</key>
		<dict>
			<key>isShown</key>
			<true/>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>1C51011D202806B400872D37</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1C510131202806B400872D37</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1C51013C202806B500872D37</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1C510152202806D600872D37</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>961EB75E2089460D005F0E9F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9654C7F12087C35F0021B684</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
