/* CSS file */
@namespace s "library://ns.adobe.com/flex/spark";
@namespace mx "library://ns.adobe.com/flex/mx";

s|Application {
	backgroundColor:#212121;
	fontSize:18pt;
} 

s|TabbedViewNavigatorApplication 
{
	backgroundColor:#212121;
	color:#FFFFFF;
}

s|Label {
	backgroundColor:#212121;
}

s|TabbedViewNavigator #tabBar
{/* tabbar will used a customized tabbartabskin, to have the background with gradient color */
	/*chromeColor:#8EADD8  ; /* gives the tabnavigator buttons our special color*/
	skinClass: ClassReference("skins.TabbedViewNavigatorTabBarSkin");
	color: #000000;
}

.tabbartabbuttoncolor {/* a tabbar in a viewnavigator has tabs, this tab has a backgroundcolor when selected, this will be the colors used for a gradient box from bottom to top */
	colorbottom:#003D6E;/* gradient will be applied from bottom to top, this is the bottom color*/
	colortop:#153460;/* gradient will be applied from bottom to top, this is the top color*/
}

.listAlternatingColors {/*used in menu items*/
	color1:#C8C8C8;
	color2:#E5E5E5;
}

s|ActionBar
{
	chromeColor: #3B6999; /* gives our action bar our special color*/ 
	defaultButtonAppearance: beveled; /* ios style action bar buttons*/ 
}

s|View {
	backgroundAlpha: 0;
}

s|List {
	contentBackgroundAlpha: 0;
}

/*Roboto Fonts*/
@font-face
{ src: url(spark/skins/android4/assets/fonts/Roboto-Regular.ttf); fontFamily: RobotoRegular; embed-as-cff: true; }
@font-face
{ src: url(spark/skins/android4/assets/fonts/Roboto-Bold.ttf); fontFamily: RobotoBold; fontWeight: bold; embed-as-cff: true; }
