<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Spike.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>armv7</string>
				<string>arm64</string>
			</array>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>CF6CC199E4868B32EF1CBAA7886496D3062FB8E0</string>
				<key>dateExpires</key>
				<string>27/01/2019</string>
				<key>type</key>
				<string>iOS Development</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>CF6CC199E4868B32EF1CBAA7886496D3062FB8E0</string>
						<key>dateExpires</key>
						<string>27/01/2019</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>PNChart.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>AGW6KV7M2W</string>
						<key>name</key>
						<string>Miguel Kennedy</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>CF6CC199E4868B32EF1CBAA7886496D3062FB8E0</string>
						<key>dateExpires</key>
						<string>27/01/2019</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>UICountingLabel.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>AGW6KV7M2W</string>
						<key>name</key>
						<string>Miguel Kennedy</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>CF6CC199E4868B32EF1CBAA7886496D3062FB8E0</string>
						<key>dateExpires</key>
						<string>27/01/2019</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>entitlements</key>
					<dict>
						<key>application-identifier</key>
						<string>AGW6KV7M2W.com.spike-app.spike.todaywidget</string>
						<key>com.apple.developer.healthkit</key>
						<true/>
						<key>com.apple.developer.team-identifier</key>
						<string>AGW6KV7M2W</string>
						<key>com.apple.security.application-groups</key>
						<array>
							<string>group.com.spike-app.spike</string>
						</array>
						<key>get-task-allow</key>
						<true/>
					</dict>
					<key>name</key>
					<string>widget.appex</string>
					<key>profile</key>
					<dict>
						<key>UUID</key>
						<string>52f6300c-b053-414b-ad26-21b96f161066</string>
						<key>name</key>
						<string>iOS Team Provisioning Profile: com.spike-app.spike.todaywidget</string>
					</dict>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>AGW6KV7M2W</string>
						<key>name</key>
						<string>Miguel Kennedy</string>
					</dict>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>AGW6KV7M2W.com.spike-app.spike</string>
				<key>com.apple.developer.healthkit</key>
				<true/>
				<key>com.apple.developer.team-identifier</key>
				<string>AGW6KV7M2W</string>
				<key>com.apple.security.application-groups</key>
				<array>
					<string>group.com.spike-app.spike</string>
				</array>
				<key>get-task-allow</key>
				<true/>
			</dict>
			<key>name</key>
			<string>Spike.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>95b5b90e-2469-4696-9f9e-8295d335f4f0</string>
				<key>name</key>
				<string>iOS Team Provisioning Profile: com.spike-app.spike</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>AGW6KV7M2W</string>
				<key>name</key>
				<string>Miguel Kennedy</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
